$prefixCmpContainer: scopicui-cmp-container;

.#{$prefixCmpContainer} {
  &-parent {
    width: 100%;
    padding: 0px 16px;

    &.no-padding {
      padding: 0px;
    }
  }

  &-content {
    width: 100%;
    margin: auto;

    &.fluid {
      width: 100%;
    }
  }
}

@media only screen and (min-width: $breakpoint-lg) {
  .#{$prefixCmpContainer} {
    &-content {
      width: $breakpoint-lg - 32px;
    }
  }
}

@media only screen and (min-width: $breakpoint-xl) {
  .#{$prefixCmpContainer} {
    &-content {
      width: $breakpoint-xl - 64px;
    }
  }
}
