$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

$spacers: (
  0: 0,
  1: 4px,
  2: 8px,
  3: 12px,
  4: 16px,
  5: 24px,
  6: 32px,
  7: 36px,
  8: 40px,
  9: 48px,
  10: 64px,
  11: 68px,
  12: 72px,
  13: 80px,
  14: 88px,
  15: 96px,
);
